<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
</head>
<body>
    
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'todo_index' %}">Todo</a> |
    <a href="{% url 'comments_index' %}">Comments</a> |
    <a href="{% url 'about_index' %}">About</a> 

    {% block content %}
    {% endblock %}

    {% block footer %}
    <hr>
    <p>This is the footer</p>
    {% endblock footer %}

</body>
</html>